@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap');

/* CSS Style Variables */
/*****************************************************/

:root {
  --main-bg-color: #e8dfe0;
  --accent-green: #8d9b6a;
  --accent-blue:#8a9ea7;
  --accent-light-brown:#dab692;
  --accent-dark-brown: #8f5b34;
  --accent-white:white;

  --main-text-color:black;
  --large-header-text-color: var(--accent-blue);
  --small-header-text-color: var(--accent-green);
}

/** Core styling */
/*****************************************************/

* {
  font-family: 'Noto Serif', serif;
  color:var(--accent-green);
  background-color: var(--main-bg-color);
}

body {
  background-color: var(--main-bg-color);
}

h1, h2 {
  font-family: 'Open Sans', serif;
  color: var(--large-header-text-color);
}

h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: var(--small-header-text-color);
}

p, ul, li {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
}

/* The core content is the content on the end page */
.core-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.core-container img {
  width:100%;
  max-width:300px;
  display: inline-flex;
}

#bannerContainer {
  text-align: center;
}

.profile-pic-wrapper {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.profile-pic {
  border-radius: 25%;
  text-align: center;
}

/* Link styles */
/*****************************************************/

a {
  color: var(--accent-green);
}

/* Topic Cards */
/*****************************************************/

.topic-cards {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}

.topic-section-heading {
  text-align: center;
}

.topic-title {
  color:var(--accent-white);
  font-family: 'Open Sans', sans-serif;
}

.topic-card {
  display: inline-block;
  width: 25%;
  padding: 15px;
  margin: 0 auto;
  margin-right: 25px;
  margin-top: 15px;
  height: 100px;
  text-align: center;
  cursor: pointer;

  /* Make the cards display rounded */
  border-radius: 25px;
}

/* Colors for projects */
.research-card {
  background-color: var(--accent-blue);
  background-size: cover;
}

.research-card i {
  color: var(--accent-white);
}

.nasa-card {
  background-color:var(--accent-light-brown);
}

.nasa-card i {
  color: var(--accent-white);
}

.volunteer-card {
  background-color:var(--accent-dark-brown);
}

.volunteer-card i {
  color: var(--accent-white);
}

.card-icon {
  display: block;
}

/* Topic Pages */
/*****************************************************/
.topic-page-title {
  text-align: center;
  color: var(--large-header-text-color);
}

.topic-page-subtitle {
  text-align: center;
  color: var(--accent-green);
}

.topic-title-icon {
  background-color: var(--main-bg-color);
  color: var(--large-header-text-color);
  display: inline-block;
  padding-right: 25px;
  font-size: 32px;
}

/* Footer */
/*****************************************************/

footer {
  text-align: center;
}

/* Platform Adjustments */
/*****************************************************/

/* Tablet kinda adjustments */
@media screen and (max-width: 910px) {
  .core-container {
      width: 95%;
  }

  #projectBanner {
    width: 300px;
  }

  .feat-img {
    width: 270px;
  }

   /* This will make the cards vertical on mobile */
   .topic-card {
    display: block;
    width: 85%;
  }
}

/** Mobile adjustments */
@media screen and (max-width: 400px) {

  .core-container {
      width: 95%;
      padding-left: 5px;
      padding-right: 5px;
  }

  #projectBanner {
    width: 270px;
  }

  /* This will make the cards vertical on mobile */
  .topic-card {
    display: block;
    width: 85%;
  }
  
} 