@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap');

/* CSS Style Variables */
/*****************************************************/

:root {
  --main-bg-color: #e8dfe0;
  --accent-green: #8d9b6a;
  --accent-blue:#8a9ea7;
  --accent-light-brown:#dab692;
  --accent-dark-brown: #8f5b34;
}

/** Core styling */
/*****************************************************/

* {
  font-family: 'Noto Serif', serif;
  color:var(--accent-green);
  background-color: var(--main-bg-color);
}

body {
  background-color: var(--main-bg-color);
  overflow-x:hidden;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', serif;
  opacity: 1.0;
  color: var(--accent-green);
}

p, ul, li {
  font-family: 'Open Sans', sans-serif;
  opacity: 0.9;
  color: black;
  font-size: 16px;
}

/* Main Content */
.pageContent {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--main-bg-color);
}

.core-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bannerContainer {
  text-align: center;
}


/* Link styles */
/*****************************************************/

a {
  color: var(--accent-green);
}

/* Topic Cards */
/*****************************************************/

.topic-cards {
  text-align: center;
}

/* Footer */
/*****************************************************/

footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  text-align: center;
}

/* Platform Adjustments */
/*****************************************************/

/* Tablet kinda adjustments */
@media screen and (max-width: 910px) {
  #mainContent {
      width: 95%;
  }

#projectBanner {
  width: 300px;
}

.feat-img {
  width: 270px;
}
}

/** Moible adjustments */
@media screen and (max-width: 400px) {
  .nav-items {
      text-align: center;
  }

  .nav-bucket {
      padding: 5px;
      float: none;
  }

  #mainContent {
      width: 95%;
      padding-left: 5px;
      padding-right: 5px;
  }

  #projectBanner {
    width: 270px;
  }
  .feat-img {
    width: 270px;
  }
  
  footer img {
    width: 28px;
    height: 28px;
    padding-left: 5px;
    padding-right: 5px;
    filter: brightness(0%) opacity(70%);
  }
}
