
<footer>

  <a href="https://github.com/benjafriend" target="_blank"><img src="{{ site.url }}\media\GitHub-Mark-32px.png" lat="GitHub Logo"/></a>
  <a href="https://www.linkedin.com/in/ben-hoffman/" target="_blank"><img src="{{ site.url }}\media\white-linkedin-512.png" lat="linkedin Logo"/></a>
  <a href="https://twitter.com/benjafriend" target="_blank"><img src="{{ site.url }}\media\twitter_logo.png" lat="Twitter Logo"/></a>

  <p>&#169; Copyright Ben Hoffman 2018</p>
  
    <p><b>Disclaimer:</b> This is a personal website and any statements or content here are in no way associated
    with that of my employers.</p> 
    
</footer>
