<!--

<div class="nav-items">

  <div class="nav-bucket">
    <a href="{{ site.url }}/index.html#mainContent">Home</a>
  </div>

  <div class="nav-bucket">
    <a href="{{ site.url }}/media/BenHoffman_Resume.pdf" target="_blank">Resume</a>
  </div>
  <div class="nav-bucket">
    <a href="{{ site.url }}/blog/">Blog</a>
  </div>

</div> --> <!-- end nav items -->



<div class="container borderXwidth">
  <a href="{{ site.url }}/index.html#mainContent">HOME</a>
  <a href="{{ site.url }}/media/BenHoffman_Resume.pdf" target="_blank">RESUME</a>
  <a href="{{ site.url }}/blog/">BLOG</a>

</div>
