<div class="container borderXwidth">
  <a href="{{ site.url }}/index.html#mainContent"><div id="navText"><i class="material-icons">home</i> Home</div></a>
  <a href="{{ site.url }}/research/"><div id="navText"><i class="material-icons">school</i> Research</div></a>
  <a href="{{ site.url }}/nasa"><div id="navText"><i class="material-icons">brightness_3</i> NASA Projects</div></a>
  <a href="{{ site.url }}/volunteer"><div id="navText"><i class="material-icons">people</i> Volunteer Work</div></a>
</div>
