---
layout: page
---

<!-- Put all posts from inside the specified post folders folder here -->
<div class="core-container">    
    <h1 class="topic-page-title">
        <i class="material-icons topic-title-icon">{{ page.topicIcon }}</i>{{ page.title }}
    </h1>

    {% if page.subtitle %}
    <h3 class="topic-page-subtitle">{{ page.subtitle }}</h3>
    {% endif %}

    {% for post in site.posts %}

        {% if post.path contains page.postFolder %}

            <h4 class="post-title">{{ post.title }}</h4>

            {% if post.subtitle %}
                <h5 class="post-subtitle">{{ post.subtitle }}</h5>
            {% endif %}

            <!-- Show the image related to this position if there is one -->
            {% if post.banner-image %}
                <div id="bannerContainer">
                    <img id="projectBanner" src={{ post.banner-image }} />
                </div>
            {% endif %}

            <!-- The post content -->
            <div class="post-content">{{ post.content }}</div>
            <hr>

        {% endif %}

    {% endfor %}

    
    <!-- Display a little block to take you home! -->
    <div class="topic-cards">
        <div class="topic-card research-card" onclick="location.href='{{"/" | relative_url }}';">
            <h2 class="research-card">
                <i class="material-icons research-card card-icon">home</i>
                <a class="topic-title" href="{{ "/" | relative_url }}">Home</a>
            </h2>
        </div>

        <!-- TODO: Make a little loop of all the topics, maybe have some json with all the options? -->
    </div>

</div>